{{ define "main" }}
<div class="container">
    <div class="content-side">
        <header class="page-header">
            <h1>{{ .Title }}</h1>
            {{- if .Description }}
            <div class="post-description">
                {{ .Description | markdownify }}
            </div>
            {{- end }}
        </header>
        <div class="post-list">
            {{ range .Pages.ByDate.Reverse }}
            <article class="post-entry">
                <div class="post-title-row">
                    <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                    <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
                </div>
            </article>
            {{ end }}
        </div>
    </div>
</div>
{{ end }} 