{{- define "main" }}
<div class="blog-container">
  <article class="post-single">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      
      <div class="post-meta">
        {{- if .Date }}
        <span class="post-date">
          {{- .Date | time.Format (default "January 2, 2006" .Site.Params.DateFormat) -}}
        </span>
        {{- end }}
        
        {{- with .Params.tags }}
        <div class="post-tags">
          {{- range . }}
          <a href="{{ "tags/" | relURL }}{{ . | urlize }}/" class="post-tag">{{ . }}</a>
          {{- end }}
        </div>
        {{- end }}
      </div>
    </header>
    
    {{- if .Content }}
    <div class="post-content">
      {{- if .Params.ShowToc }}
      <div class="toc">
        {{ .TableOfContents }}
      </div>
      {{- end }}
      {{ .Content | safeHTML }}
    </div>
    {{- end }}

    {{/* Backlinks and graph visualization will be added by JavaScript */}}
    
    <footer class="post-footer">  
      
      {{- if (.Param "ShowPostNavLinks") }}
      <nav class="paginav">
        {{- $prev := .PrevInSection }}
        {{- $next := .NextInSection }}
        
        {{- if $prev }}
        <a class="prev-post" href="{{ $prev.Permalink }}">
          <span class="paginav-label">Previous</span>
          <span class="paginav-title">{{ $prev.Title }}</span>
        </a>
        {{- end }}
        
        {{- if $next }}
        <a class="next-post" href="{{ $next.Permalink }}">
          <span class="paginav-label">Next</span>
          <span class="paginav-title">{{ $next.Title }}</span>
        </a>
        {{- end }}
      </nav>
      {{- end }}
    </footer>
  </article>
</div>
{{- end }}{{/* end main */}} 